<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.ac.big.bigd.webservice.mapper.api.ApiMapper">

    <resultMap id="Api" type="Api" >
        <result column="api_type_id" property="api_type_id" jdbcType="INTEGER" />
        <result column="api_subType_id" property="api_subType_id" jdbcType="INTEGER" />
        <result column="ip" property="ip" jdbcType="VARCHAR" />
    </resultMap>
    <insert id="saveApi" parameterType="Api">
      insert into api(api_type_id,api_subType_id,ip)
      values(#{api_type_id},#{api_subType_id},#{ip})
    </insert>
</mapper>